body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 1000px;
}

.wrapper {
	background-color: beige;
	height: 700px;
	width: 600px;
	border-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#power {
	font-size: 20px;
	color: white;
	height: 40px;
	width: 40px;
	border-radius: 40px;
	border: none;
	background-color: red;
	cursor: pointer;
}

.info {
	font-family: 'Lato', sans-serif;
	font-size: 1.2rem;
}

.colors {
	height: 80px;
	display: flex;
	align-items: center;
}

.circle {
	height: 40px;
	width: 40px;
	border-radius: 40px;
	border: 2px solid grey;
	margin: 10px;
	cursor: pointer;
}

.circle:hover {
	transform: scale(1.1);
	transition: .6s;
}

#color1 {
	background-color: black;
}

#color2 {
	background-image: url(/images/mørkeik.jpg);
}

#color3 {
	background-image: url(/images/eik.jpg);
}

#color4 {
	background-color: white;
}